{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=" {% static 'css/assets3/css/main.css'  %} " />
</head>
<style>
    .logo{
        font-size: 4rem;
        color: ghostwhite;
        
    }
    
</style>
<body>
    {{instance.title}} <br>
    {{instance.content}}
    {% if instance.template_name == 'style2'  %}
    sss
    {%else %}
    nn
    {% endif %}

<!-- Header -->
<header id="header">
    <div class="logo">Blog<a href="#"><span>by dheeraj</span></a></div>
</header>

<!-- Main -->
<section id="main">
    <div class="inner">
        <div class="wrapper style1">
            <div class="content">

                <!-- Elements -->
                    <h2 id="elements">{{instance.title}}</h2>
                    <div class="row 200%">
                        <div>

                            <!-- Text stuff -->
                                <h3>Topic1</h3>
                                <div class="7u$ 12u$(medium)">
                                    <!-- Image -->
                                        <span class="image fit"><img src="images/pic01.jpg" alt="" /></span>

                        

                                </div>
                                <p>
                                    AVNI results vachaka,thana intlo paristhulu kuda balekapovadam valla thanaki pelli chedam ani anukuntu untaru. Ah sandarbam lo oka manchi sambandam vachindi inka SULOCHANA garu vala valatho matladi,alochinchi ah sambandam ni oppukuntunnaru.

Ah vayasu lo AVNI ki emi telidu, pelli ante enti,pelli ayyaka ammayi abbayi vala intiki veladam akkada undadam ala enno vishayalu edi telidu. Ayna pelli chesi AVNI ni pampinchestharu, AVNI vala bhartha peru ABHAY. ABHAY ki AVNI ki okari gurinchi okariki emi telidu , pedda vallu chusaru,valake nacharu,vallu matladukoni pelli chesesaru.AVNI kante ABHAY oka 7-8 samvasralu pedda.

AVNI ni oka pedda kutumbam lo unde ABHAY ki ichi pelli chesaru, inka AVNI ki edi telidu kada, akkada em cheyalo ela undalo kuda teliyakapoyedi,akkada kuda enno panulu chesthu unna, enno matalu padedi ah intlo unde pedda valatho. AVNI enno sarlu edchedi,entho badha padthu undedi, valla amma vallu eppudu vachina thanani teskellamani eppudu brathimiladedi, inka mella mellaga anni alavatu cheskundi.

ABHAY kuda AVNI ni antha baga chuskunevadu kadu,inka cheppali ante thanani antha patinchukune vare kadu ayna alage sahisthu undedi.Samayam gadeche koddi, AVNI garbhavathi avthundi, thanaki oka chakkani,bulli,chinni,muddu papa puttindi.Ah papa thana jeevitham loki vachinappati nunchi thana jeevitham lo okati okati maruthu anandam ane kotha anubhuthi vachindi.Ah pape thana jeevitham ni marusthundi ani chala gattiga nammindi AVNI.Ah papa peru ABHIGNYA, ah papa ki 5-6 samvasrala vayasu lo unnapudu AVNI ki oka babu pudthadu.

Pillale prapancham ga brathukuthunna AVNI ki anukokunda oka roju.... 
                                </p>
                                <hr />
                                

                            <!-- Lists -->
                                
                            <!-- Table -->

                        </div>
                        
                    
                </div>

            </div>
        </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Untitled. All rights reserved. Images <a href="https://unsplash.com">Unsplash</a> Design <a href="https://templated.co">TEMPLATED</a>
    </div>
</footer>

<!-- Scripts -->
<script src=" {% static 'css/assets3/js/jquery.min.js' %} "></script>
<script src="   {% static 'css/assets3/js/jquery.poptrox.min.js' %} "></script>
<script src="   {% static 'css/assets/js/skel.min.js' %} "></script>
<script src="   {% static 'css/assets3/js/util.js' %} "></script>
<script src="    {% static 'css/assets3/js/main.js' %}"></script>

</body>
</html>