{% load static %}
{% if instance.template_name == 'style1'  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% if instance.template_name == 'style1'  %}
    <link rel="stylesheet" href=" {% static 'css/assets3/css/main.css'  %} " />
    {%else %}
    {% endif %}
</head>
<style>
    @charset "UTF-8";
    .logo{
        font-size: 4rem;
        color: ghostwhite;
        font-weight: 300px;
    }
   


    .like-button {
        display: inline-block;
        position: relative;
        font-size: 20px;
        cursor: pointer;
    }
    
    .like-button::before {
        font-size: 2em;
        color: #000;
        content: '❤';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .like-button::after {
        font-size: 2.3em;
        color: #ff3252;
        content: '❤';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);
        transition: transform 0.2s;
    }
    
    .like-button.liked::after {
        transform: translate(-50%, -50%) scale(1.1);
    }
    .like {
        display: inline-block;
        position: relative;
        font-size: 20px;
        cursor: pointer;
    }
    
    .like::before {
        font-size: 2em;
        color:red;
        content: '❤';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
</style>
<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="GmSSn1NZ"></script>
<!-- Header -->
<header id="header">
    <div class="logo">Blog
        <a href="#"><h5>{{instance.user.get_full_name}}</></a></div>
</header>

<!-- Main -->
<section id="main">
    <div class="inner">
        <div class="wrapper style1">
            <div class="content">

                <!-- Elements -->
                    <h2 id="elements">{{instance.title}}</h2>
                    <div class="row 200%">
                        <div>
                            
                            

                            <!-- Text stuff -->
                                <h3>Topic1</h3>
                                <div class="7u$ 12u$(medium)">
                                    <!-- Image -->
                                        <span class="image fit"><img src="" alt="" /></span>
                                </div>
                                <p>
                                   {{instance.content}}
                                </p>
                                <hr />
                                {{total_likes }} likes
                                <form action="/likes" method="POST">
                                    {% csrf_token %}
                                    {% if is_liked %}
                                    <button type="submit" value="{{instance.slug}}" name="like" class="like"></button>
                                    {% else %}
                                    <button type="submit" value="{{instance.slug}}" name="like" class="like-button"></button>
                                    {% endif %}
                                    {{instance.slug}}
                                </form>
                            <!-- Lists -->

                            <!-- Table -->

                        </div>
                    
                </div>
                
                <div class="fb-comments" data-href="{{request.build_absolute_uri}}" data-numposts="10" data-width=""></div>
            </div>
        </div>
</section>

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
        </ul>
    </div>
    <div class="copyright">
        &copy; Untitled. All rights reserved. Images <a href="https://unsplash.com">Unsplash</a> Design <a href="https://templated.co">TEMPLATED</a>
    </div>
</footer>

<!-- Scripts -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0" nonce="rkvu3IFy"></script>
<script src=" {% static 'css/assets3/js/jquery.min.js' %} "></script>
<script src="   {% static 'css/assets3/js/jquery.poptrox.min.js' %} "></script>
<script src="   {% static 'css/assets/js/skel.min.js' %} "></script>
<script src="   {% static 'css/assets3/js/util.js' %} "></script>
<script src="    {% static 'css/assets3/js/main.js' %}"></script>

</body>
<script>
    document.querySelector('.like-button').addEventListener('click', (e) => {
        e.currentTarget.classList.toggle('liked');
      });
</script>
</html>
{% elif instance.template_name == 'style2'  %}
{% load static %}

<!DOCTYPE html>
<html  lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Style 2</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href=" {% static 'css/css/base.css'  %}  ">
    <link rel="stylesheet" href=" {% static 'css/css/main.css'  %}  ">

    <!-- script
    ================================================== -->
    
    <script defer src="  {% static 'css/js/fontawesome/all.min.js'  %} "></script>

    <!-- favicons
    ================================================== -->


</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Header
    ================================================== -->
    <header class="s-header">

        <div class="row">

            <div class="s-header__content column">
                <h1 class="s-header__logotext">
                    <a href="index.html" title=""> {{instance.title}} </a>
                </h1>
                <p class="s-header__tagline">{{instance.user.get_full_name}}</p>
            </div>

        </div> <!-- end row -->

        <!-- end #nav-wrap -->

        <a class="header-menu-toggle" href="#0" title="Menu"><span>Menu</span></a>

    </header> <!-- Header End -->



    <!-- Content
    ================================================== -->
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-15 column">

                <section class="page-content">

                    <h2 class="page-content__title h1"> {{instance.heading1}} </h2>
                    {% if instance.para1 == None %}
                    <p class="lead">
                    
                    </p>
                    {% else %}
                    <p class="lead">
                        {{instance.para1}}
                    </p>
                    {% endif %}
                  
                    <p>
                        {{instance.content}}
                    </p>
                

                    <div class="row block-large-1-2 block-tab-full">

                        <div class="column">
                            {% if instance.heading2 == None %}
                            <h5> </h5>
                            {% else %}
                            <h5> {{instance.heading2}} </h5>
                            {% endif %}
                            {% if instance.content1 == None %}
                            <p>
                            
                            </p>
                            {% else %}
                            <p>
                                {{instance.content1}}
                            </p>
                            {% endif %}
                        
                        </div>

                        <div class="column">
                            
                            {% if instance.heading3 == None %}
                            <h5> </h5>
                            {% else %}
                            <h5> {{instance.heading3}} </h5>
                            {% endif %}
                            {% if instance.content2 == None %}
                            <p>
                            
                            </p>
                            {% else %}
                            <p>
                                {{instance.content2}}
                            </p>
                            {% endif %}
                        
                        
                        </div>

                        
                    </div>

                </section> <!-- end page -->

           </div> <!-- end main -->


          <!-- end sidebar -->

       </div> <!-- end row -->

   </div> <!-- end content-wrap -->


    <!-- Footer
    ================================================== -->
    <footer class="s-footer">

        <div class="row s-footer__top">
            <div class="column">
                <ul class="s-footer__social">
                    <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-vimeo-v" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-skype" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div> <!-- end footer__top -->



        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
            </a>
        </div> <!-- end ss-go-top -->

    </footer> <!-- end Footer-->


    <!-- Java Script
    ================================================== -->
    <script src=" {% static 'css/js/jquery-3.2.1.min.js'  %}  "></script>
    <script src=" {% static 'css/js/main.js'  %}  "></script>

</body>

</html>
{% elif instance.template_name == 'style3'  %}
{% load static %}

<!DOCTYPE html>
<html  lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Style3</title>
    
    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href=" {% static 'css/css/base.css'  %}  ">
    <link rel="stylesheet" href=" {% static 'css/css/main.css'  %}  ">

    <!-- script
    ================================================== -->
    
    <script defer src="  {% static 'css/js/fontawesome/all.min.js'  %} "></script>
    <script defer src="  {% static 'css/js/modernizr.js'  %} "></script>

    <!-- script
    ================================================== -->
    

    <!-- favicons
    ================================================== -->
  

</head>

<body id="top">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Header
    ================================================== -->
    <header class="s-header">

        <div class="row">
            <div class="s-header__content column">
                <div class="s-header__brand">
                    <h1 class="s-header__logotext">
                        <a href="index.html" title=""> {{instance.title}} </a>
                    </h1>
                    <p class="s-header__tagline"> {{instance.user.get_full_name}} </p>
                </div>
            </div>
        </div> <!-- end row -->
<!-- end #nav-wrap -->

        <a class="header-menu-toggle" href="#0" title="Menu"><span>Menu</span></a>

    </header> <!-- Header End -->



    <!-- Content
    ================================================== -->
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-15 column">

                <article class="entry">

                    <header class="entry__header">
                        {% if instance.heading1 == None %}
                        <h2 class="entry__title h1">
                            <a title=""></a>
                        </h2>
                        {% else %}
                        <h2 class="entry__title h1">
                            <a title=""> {{instance.heading1}} </a>
                        </h2>
                        {% endif %}
                     
                    </header>
                    
                    <div class="entry__content">
                        
                        <p>
                            {{instance.content}}
                        </p>
                    
                    </div> 

                </article> <!-- end entry -->

                <article class="entry">
                    {% if instance.heading2 == None %}
                    <h2 class="entry__title h1">
                        <a title=""></a>
                    </h2>
                    {% else %}
                    <h2 class="entry__title h1">
                        <a title=""> {{instance.heading2}} </a>
                    </h2>
                    {% endif %}

                    <div class="entry__content">
                        {% if instance.content1 == None %}
                        <p>
                        
                        </p>
                        {% else %}
                        <p>
                            {{instance.content1}}
                        </p>
                        {% endif %}
                    
                    </div>

                </article> <!-- end entry -->

                <article class="entry">
                   
                    <header class="entry__header">

                        {% if instance.heading3 == None %}
                        <h2 class="entry__title h1">
                            <a title=""></a>
                        </h2>
                        {% else %}
                        <h2 class="entry__title h1">
                            <a title=""> {{instance.heading3}} </a>
                        </h2>
                        {% endif %}

                    </header>

                    <div class="entry__content">
                        {% if instance.content2 == None %}
                        <p>
                        
                        </p>
                        {% else %}
                        <p>
                            {{instance.content2}}
                        </p>
                        {% endif %}
                    </div> 

                </article> <!-- end entry -->

                <article class="entry">
                   
                    <header class="entry__header">

                        {% if instance.heading4 == None %}
                        <h2 class="entry__title h1">
                            <a title=""></a>
                        </h2>
                        {% else %}
                        <h2 class="entry__title h1">
                            <a title=""> {{instance.heading4}} </a>
                        </h2>
                        {% endif %}
                     
                    </header>

                    <div class="entry__content">
                        
                        {% if instance.content3 == None %}
                        <p>
                        
                        </p>
                        {% else %}
                        <p>
                            {{instance.content3}}
                        </p>
                        {% endif %}
                    </div> 

                </article> <!-- end entry -->

                <!-- page nav -->
                <div class="post-list-nav">
                    <a rel="prev" href="#0">Prev</a>
                    <a rel="next" href="#0">Next</a>
                </div>

           </div> <!-- end main -->


           <!-- end row -->

   </div> <!-- end content-wrap -->


    <!-- Footer
    ================================================== -->
    <footer class="s-footer">

        <div class="row s-footer__top">
            <div class="column">
                <ul class="s-footer__social">
                    <li><a href="#0"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-youtube" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-vimeo-v" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#0"><i class="fab fa-skype" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div> <!-- end footer__top -->


           

        </div> <!-- end footer__bottom -->


         <!-- end ss-go-top -->

   </footer> <!-- end Footer-->


   <!-- Java Script
    ================================================== -->
    <script src=" {% static 'css/js/jquery-3.2.1.min.js'  %}  "></script>
    <script src=" {% static 'css/js/main.js'  %}  "></script>

</body>

</html>
{% elif instance.template_name == 'style4'  %}
{% load static %}

<!DOCTYPE html>
<html  lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Style 4</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href=" {% static 'css/css/base.css'  %}  ">
    <link rel="stylesheet" href=" {% static 'css/css/main.css'  %}  ">

    <!-- script
    ================================================== -->
    
    <script defer src="  {% static 'css/js/fontawesome/all.min.js'  %} "></script>
    <script defer src="  {% static 'css/js/modernizr.js'  %} "></script>
    <!-- favicons
    ================================================== -->

</head>

<body id="top" class="ss-single">

    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader" class="dots-fade">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Header
    ================================================== -->
    <header class="s-header">

        <div class="row">

            <div class="s-header__content column">
                <h1 class="s-header__logotext">
                    <a href="index.html" title=""> {{instance.title}} </a>
                </h1>
                <p class="s-header__tagline"> {{instance.user.get_full_name}} </p>

            </div>

        </div> <!-- end row -->

        <!-- end #nav-wrap -->

        <a class="header-menu-toggle" href="#0" title="Menu"><span>Menu</span></a>

    </header> <!-- Header End -->



    <!-- Content
    ================================================== -->
    <div class="s-content">

        <div class="row">

            <div id="main" class="s-content__main large-15 column">

                <article class="entry">

                    <header class="entry__header">
                        {% if instance.heading1 == None %}
                        <h2 class="entry__title h1">
                            <a></a>
                        </h2>
                        {% else %}
                        <h2 class="entry__title h1">
                            <a> {{instance.heading1}} </a>
                        </h2>
                        {% endif %}
                     
                    </header> <!-- entry__header -->

                    <div class="entry__content-media">
                        <img src="images/wheel-500.jpg" 
                             srcset="images/wheel-1000.jpg 1000w, 
                                     images/wheel-500.jpg 500w" 
                             sizes="(max-width: 1000px) 100vw, 1000px" alt="">
                    </div>

                    <div class="entry__content">
                        {% if instance.para1 == None %}
                        <p class="lead">
                            
                        </p>
                        {% else %}
                        <p class="lead">
                            {{instance.para1}}
                        </p>
                        {% endif %}
                        <p>
                            {{instance.content}}
                        </p>
                    }
                    </div> <!-- entry__content -->

                  
                    <ul class="entry__post-nav h-group">
                        <li class="prev"><a rel="prev" href="#0"><strong class="h6">Previous Article</strong> Duis Sed Odio Sit Amet Nibh Vulputate</a></li>
                        <li class="next"><a rel="next" href="#0"><strong class="h6">Next Article</strong> Morbi Elit Consequat Ipsum</a></li>
                    </ul>

                </article> <!-- end entry -->

                

           

        </div> <!-- end footer__bottom -->


        <div class="ss-go-top">
            <a class="smoothscroll" title="Back to Top" href="#top">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
            </a>
        </div> <!-- end ss-go-top -->

   </footer> <!-- end Footer-->


   <!-- Java Script
    ================================================== -->
    <script src=" {% static 'css/js/jquery-3.2.1.min.js'  %}  "></script>
    <script src=" {% static 'css/js/main.js'  %}  "></script>
</body>

</html>



{%endif %}