{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
    <section>
        <div class="container">
            <div class="user signinbox">
                <div class="imagebox"><img src="{% static 'css/images/bgg.jpg' %}" alt=""></div>
                <div class="formbox">
                    <form action="login" method="POST">
                        {% csrf_token %}
                        <h2>SIGN IN</h2>
                     
                        <input type="email" placeholder="Email_Id" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required name="email" >
                        <input type="password" placeholder="Password" required name="password">
                        <button type="submit">Login</button>
                        <p class="signup">Don't have an account <a href="signup">Sign Up</a></p>
                        {% for message in messages%}
                        <span class="message">{{message}}</span>
                        {% endfor %}
                    </form>
                </div>
           
                        
        
                </div>
            
            </div>
            
        </div>
    </section>
</body>
</html>