{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIGNUP</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="shortcut icon" type="image/x-icon" href=" {% static 'assets/img/favicon.jpeg' %} ">

</head>
<body>
    <section>
        <div class="container">
            <div class="user signinbox">
                <div class="imagebox"><img src="{% static 'css/images/Signup2.jpeg' %}" alt=""></div>
                <div class="formbox">
                    <form action="signup" method="POST">
                        {% csrf_token %}
                        <h2>SIGN UP</h2>
                        <input type="text" placeholder="UserName"  required name="username">
                        <input type="text" placeholder="Name" onkeyup="letters(this)" required name="first">
                        <input type="text" placeholder="LastName" onkeyup="letters(this)"  name="last" hidden readonly>
                        <input type="email" placeholder="Email_Id" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required name="email"  name="email">
                        <button type="submit">Signup</button>
                            {% for message in messages%}
                            <span class="message">{{message}}</span>
                            {% endfor %}
                        
                        <p class="signup">login and enjoy reading <a href="login">LOGIN</a></p>
                    </form>
                   
                </div>
            </div>
            
        </div>
    </section>
    <script>
                        
        function letters(letters){
            var regex = /[^a-z]/gi;
            letters.value = letters.value.replace(regex,"");
        }
     
    </script>
</body>
</html>